@model ProjektKinoo.ViewModels.Logowanie.LogowanieVM

@{
    ViewBag.Title = "Logowanie";
}
<div>
    <p>
        @Html.ValidationMessage("CredentialError", new { @class = "text-danger" })
    </p>

</div>
@using (Html.BeginForm("Logowanie", "Logowanie", FormMethod.Post, new { @class = "form-signin col-lg-3 mr-auto text-center" }))
{

    <img class="col-sm-12" src="~/Images/cinexima.png" alt="" width="200">
    <h1 class="h3 font-weight-normal">Logowanie</h1>
    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required", @placeholder = "Nazwa Użytkownika" } })
    @Html.PasswordFor(m => Model.Pass, new { @class = "form-control", @required = "required", @placeholder = "Hasło" })
    <button class="btn btn-lg btn-primary btn-block" type="submit">Zaloguj</button>

}
