
@{
    ViewBag.Title = "Brak Dostepu";
}

<h2>BrakDostepu</h2>
<h4>Skontaktuj się z administracją!</h4><br />
                               <br />
<b>Przekierowanie za 5 sek.</b>
<script>
setTimeout("location.href = '/Home/Index';",5000);
</script>