
@{
    ViewBag.Title = "Cennik";
}

<h2 class="mt-2">Cennik</h2>

<table class="table text-center">
    <thead class="thead-default">
        <tr>
            <th></th>
            <th>Bilet standardowy</th>
            <th>Bilet na film 3D</th>
            <th>Bilet standardowy w weekend</th>
            <th>Bilet na film 3D w weekend</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">Uczeń/Student</th>
            <td>-30% ceny</td>
            <td>-20% ceny</td>
            <td>-20% ceny</td>
            <td>-15% ceny</td>
        </tr>
        <tr>
            <th scope="row">Senior</th>
            <td>-50% ceny</td>
            <td>-40% ceny</td>
            <td>-40% ceny</td>
            <td>-30% ceny</td>
        </tr>
        <tr>
            <th scope="row">Szkoły / Grupy zoorganizowane</th>
            <td>-50% ceny</td>
            <td>-40% ceny</td>
            <td>-40% ceny</td>
            <td>-30% ceny</td>
        </tr>
    </tbody>
</table>