@{
    ViewBag.Title = "Strona Główna";
}
<div class="row mr-0 text-center">
    <p><img src="~/Images/cinexima.png" width="50%"/></p>
</div>
<div class="row">
    <div class="col-md-12">
        <p class="lead">
            Kino to poza standardowymi seansami filmowymi również:

            specjalne, przedpremierowe pokazy filmów (z udziałem twórców),
            maratony filmowe,
            festiwale filmowe,
            koncerty,
            gry i zabawy dla dzieci,
            konkursy,
            seanse dla grup szkolnych i firm.
        </p>
        </div>
    </div>
<div class="row">
    <div class="col-md-4">
        <img class="rounded mx-auto d-block" src="~/Images/kinoDlaSzkoly.png" width="250"/>
    </div>
    <div class="col-md-4">
        <img class="rounded mx-auto d-block" src="~/Images/kinoNaTemat.png" width="250"/>
    </div>
    <div class="col-md-4">
        <img class="rounded mx-auto d-block" src="~/Images/maratonFilmowy.png" width="250"/>
    </div>
</div>
<div class="row mt-1">
    <div class="col-md-4">
        <h2>Kino Dla Szkoły!</h2>
        <p>
            Już od 1 września zapraszamy na kolejny rok szkolny 2017/2018 w kinach Helios. Nasze propozycje filmowe to nie tylko rozrywka, ale również program edukacyjny skierowany do uczniów i nauczycieli. W każdym kinie odbywają się cykliczne spotkania edukacyjne z filmem „Kino na Temat” – dla młodzieży oraz „Kino na Temat Junior” – dla dzieci.
            @Html.ActionLink("Więcej »", "KinoDlaSzkoly", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Kino Na Temat!</h2>
        <p>
            Witamy serdecznie uczestników projektu edukacyjnego Kino na Temat w roku szkolnym 2017/2018! Nowy rok szkolny to nowe wyzwania, także u nas - zapraszamy do zapoznania się z programem Kina na Temat na najbliższe miesiące.
            @Html.ActionLink("Więcej »", "KinoNaTemat", "Home", null, new { @class = "btn btn-default" })
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Nocny Maraton!</h2>
        <p>
            Nocne Maratony Filmowe to nie tylko okazja do "nieprzespanej" nocy i sale kinowe oddane do dyspozycji "nocnych marków". To przede wszystkim doskonały moment na przeżycie kilku godzin w niepowtarzalnym klimacie, jaki stworzyć potrafią filmy grane jeden za drugim.
            @Html.ActionLink("Więcej »", "NocnyMaraton", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>
