
@{
    ViewBag.Title = "Kino Na Temat";
}
<div class="media pt-3">
    <img class="mr-3" src="~/Images/kinoNaTemat.png" alt="Kino Na Temat">
    <div class="media-body">
        <h5 class="mt-0">Kino Na Temat</h5>
        <p>Witamy serdecznie uczestników projektu edukacyjnego Kino na Temat w roku szkolnym 2017/2018! Nowy rok szkolny to nowe wyzwania, także u nas - zapraszamy do zapoznania się z programem Kina na Temat na najbliższe miesiące.</p>
        <p>Kino na Temat to cykl spotkań filmowych, które poruszają problemy istotne dla młodzieży w okresie dorastania oraz rozpoczynających dorosłe życie. Starannie dobrany repertuar i interesujące tematy spotkań stanowią podstawę do emocjonującej dyskusji – to jak się ona zakończy jest w Waszych rękach.</p>
        <p>Projekt skierowany jest do młodzieży z najstarszych klas szkół podstawowych, gimnazjów oraz szkół ponadgimnazjalnych.</p>
        <p>Każde spotkanie tematyczne składa się z projekcji filmu oraz debaty z udziałem zaproszonych gości: dziennikarzy i ekspertów w danej dziedzinie. Ważnym elementem spotkania jest głosowanie młodzieży na kluczowe pytanie postawione w dyskusji.</p>
        <p>Zabierz swoją klasę do kina cinEXIMa i oddaj głos w ważnej sprawie!</p>
    </div>
</div>

