
@{
    ViewBag.Title = "Kino Dla Szkoły";
}
<div class="media pt-3">
    <img class="mr-3" src="~/Images/kinoDlaSzkoly.png" alt="Kino Na Temat">
    <div class="media-body">
        <h5 class="mt-0">Kino Dla Szkoły</h5>
        <p>Witamy wszystkich w programie Kino Dla Szkoły! Już od 1 września zapraszamy na kolejny rok szkolny 2017/2018 w kinach Helios. Nasze propozycje filmowe to nie tylko rozrywka, ale również program edukacyjny skierowany do uczniów i nauczycieli. W każdym kinie odbywają się cykliczne spotkania edukacyjne z filmem „Kino na Temat” – dla młodzieży oraz „Kino na Temat Junior” – dla dzieci.</p>
        <p>Kino Dla Szkoły to program przeznaczony dla wszystkich szkół, przedszkoli i placówek oświatowych.</p>
        <p><b>Sprawdź czy Twoja szkoła bierze udział w naszym programie!</b></p>
        <p><b>Zalety programu Helios Dla Szkoły:</b></p>
        <ul>
            <li>preferencyjne ceny biletów,</li>
            <li>bilety dla opiekunów gratis,</li>
            <li>bezpłatne materiały promocyjne,</li>
            <li>godziny seansów i wielkość sal dostosowane do Państwa potrzeb,</li>
            <li>system punktowego premiowania – nagrody dla szkół,</li>
            <li>karta nauczyciela.</li>
        </ul>
    </div>
</div>

