
@{
    ViewBag.Title = "Nocny Maraton";
}

<div class="media pt-3">
    <img class="mr-3" src="~/Images/maratonFilmowy.png" alt="Kino Na Temat">
    <div class="media-body">
        <h5 class="mt-0">Nocny Maraton</h5>
        <p>Nocne Maratony Filmowe to nie tylko okazja do "nieprzespanej" nocy i sale kinowe oddane do dyspozycji "nocnych marków". To przede wszystkim doskonały moment na przeżycie kilku godzin w niepowtarzalnym klimacie, jaki stworzyć potrafią filmy grane jeden za drugim.</p>
        <p>Przyjdź do nas! Oferujemy doskonały wybór tytułów, magię srebrnego ekranu, mroczną salę kinową, a czasem krzyk, gdy wyświetlany jest horror i śmiech, kiedy komedia. Nie słychać tylko chrapania.</p>
    </div>
</div>

