
@{
    ViewBag.Title = "Panel Administrac";
}

<h2>Panel Administracyjny</h2>
<div class="row mt-5">
    <h3 class="col-sm-12">Filmy</h3>
    <div class="col-4 bg-warning p-0 c-pointer">
        <div class="admin-active">
            <a style="min-height:100px;" class="nav-link align-middle text-center m-0 p-5" href="/Filmy/DodajFilm">
                <h2 style="font-weight: 300;">Dodaj Film</h2>
            </a>
        </div>
    </div>
    <div class="col-4 bg-danger p-0 c-pointer">
        <div class="admin-active">
            <a style="min-height:100px;" class=" nav-link align-middle text-center m-0 p-5" href="#">
                <h2 style="font-weight: 300;">Lista Filmów</h2>
            </a>
        </div>
    </div>
</div>
<div class="row mr-1 mt-5">
    <h3 class="col-sm-12">Użytkownicy</h3>
    <div class="col-4 bg-faded p-0 c-pointer">
        <div class="admin-active">
            <a style="min-height:100px;" class="nav-link align-middle text-center m-0 p-5" href="#">
                <h2 style="font-weight: 300;">Zarejestruj Użytkownika</h2>
            </a>
        </div>
    </div>
    <div class="col-4 bg-inverse p-0 c-pointer">
        <div class="admin-active">
            <a style="min-height:100px;" class="nav-link align-middle text-center m-0 p-5" href="#">
                <h2 style="font-weight: 300;">Lista Użytkownika</h2>
            </a>
        </div>
    </div>
    <div class="col-4 bg-success p-0 c-pointer">
        <div class="admin-active">
            <a style="min-height:100px;" class="nav-link align-middle text-center m-0 p-5" href="#">
                <h2 style="font-weight: 300;">Nadaj Administratora</h2>
            </a>
        </div>
    </div>
</div>

